In [13]:
# Start xampp 
# Apache and mysql
# Go to localhost:80
# Click on phpmyadmin
# Click on databases
# Select required database
# Click on required table
# And voila

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.23-cp38-cp38-win_amd64.whl (854 kB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.15.8-py2.py3-none-any.whl (173 kB)
Requirement already satisfied: six>=1.9 in c:\users\devansh\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.23 protobuf-3.15.8

In [3]:
import mysql.connector

In [5]:
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1')
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x0000020EB659CE20>

In [6]:
# creating the cursor object

# to sends sql statements to server and fetch the result
cur = cnx.cursor()
print(cur)

MySQLCursor: (Nothing executed yet)

In [7]:
# to create new database
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1')
#creating the cursor object
cur = cnx.cursor()
#to print all databases
try:
    #creating a new database
    cur.execute("create database sampleDB")
    dbs = cur.execute("show databases")
except:
    # Return to previous transaction state
    cnx.rollback()
for x in cur:
    print(x)
cnx.close()

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('sampledb',)
('test',)

In [9]:
# to create new table
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='sampledb')
#creating the cursor object
cur = cnx.cursor()
try:
    #creating a new table
    cur.execute("create table Employee(name varchar(20) not null, id int(20) not null primary key, salary float not null, Dept_id int not null)")
except:
    cnx.rollback()
cnx.close()

In [10]:
# to alter table
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='sampledb')
#creating the cursor object
cur = cnx.cursor()
try:
    #alteringing table
    cur.execute("alter table Employee add branch_name varchar(20) not null")
except:
    cnx.rollback()
cnx.close()

In [11]:
#insert data into table
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='sampledb')
#creating the cursor object
cur = cnx.cursor()
sql = "insert into Employee(name, id, salary, dept_id, branch_name) values (%s, %s, %s, %s, %s)"

#The row values are provided in the form of tuple  
val = ("John", 110, 25000.00, 201, "Newyork")
try:
    #Executing insert query
    cur.execute(sql,val)

    #commit the transaction  
    cnx.commit()
except:
    cnx.rollback()
print(cur.rowcount,"record inserted!")
cnx.close()

1 record inserted!

In [12]:
#insertmultiple  data into table
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='sampledb')
#creating the cursor object
cur = cnx.cursor()
sql = "insert into Employee(name, id, salary, dept_id, branch_name) values (%s, %s, %s, %s, %s)"

#The row values are provided in the form of tuple  
val = [("John", 102, 25000.00, 201, "Newyork"),("David",103,25000.00,202,"Port of spain"),("Nick",104,90000.00,201,"Newyork")]
#to print all databases
try:
    #Executing Insert query
    cur.executemany(sql,val)

    #commit the transaction  
    cnx.commit()
    print(cur.rowcount,"records inserted!")
except:
    cnx.rollback()
cnx.close()

3 records inserted!

In [14]:
#selecting data
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='sampledb')
#creating the cursor object
cur = cnx.cursor()
try:
    cur.execute("select * from Employee")
    #fetching the rows from the cursor object
    result = cur.fetchall()
    #printing the result

    for x in result:
        print(x);
except:
    cnx.rollback()
cnx.close()

('John', 102, 25000.0, 201, 'Newyork')
('David', 103, 25000.0, 202, 'Port of spain')
('Nick', 104, 90000.0, 201, 'Newyork')
('John', 110, 25000.0, 201, 'Newyork')

In [15]:
#fetchone()
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='sampledb')
#creating the cursor object
cur = cnx.cursor()
try:
    #Reading the Employee data     
    cur.execute("select name, id, salary from Employee")

    #fetching the first row from the cursor object
    result = cur.fetchone()

    #printing the result
    print(result)  
except:
    cnx.rollback()
cnx.close()

('John', 102, 25000.0)