In [1]:
# 1.Create a database with database name as Hospital, Create a table Patient(name, id,department,address,bill amount). 
# 2. Insert atleast 5 patient details.
# 3. Modify the table by ading an extracolumn Lab
 
# 4. Select all people who have opted for a particular department
# 5. Display all patient whose name starts with Letter N
# 6. Display the patients by ordering as per billing amount
# 7. Update a particular patient record
 
# 8.Delete a particular patient record

In [13]:
# to create new database
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1')
#creating the cursor object
cur = cnx.cursor()

try:
    #creating a new database
    cur.execute("create database Hospital")
    cur.execute("create table Patient(name varchar(20) not null, id int(20) not null primary key, Dept_id int not null, address varchar(20) not null, bill float not null)")
    
#     cur.executemany(sql,val)
    
except:
    # Return to previous transaction state
    cnx.rollback()
cnx.close()

In [23]:
# to alter table
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
#creating the cursor object
cur = cnx.cursor()
try:
    #alteringing table
    cur.execute("alter table Patient add lab varchar(20) not null")
except:
    cnx.rollback()
cnx.close()

In [25]:
# for single insertion
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
cur = cnx.cursor()
sql = "insert into Patient(name, id, Dept_id, address, bill) values (%s, %s, %s, %s, %s)"
val1 = ("Naman", 19, 101, "Mumbai", 25000.00)
try:
    cur.execute(sql,val1)
    cnx.commit()
except:
    cnx.rollback()
print(cur.rowcount,"record inserted!")
cnx.close()

1 record inserted!

In [19]:
# to multi insert data
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
cur = cnx.cursor()
sql = "insert into Patient(name, id, Dept_id, address, bill) values (%s, %s, %s, %s, %s)"
val = [("Johny", 24, 101, "Mumbai", 26000.00),("Jockey", 22, 101, "Pune", 21000.00)]
try:
    cur.executemany(sql,val)
    cnx.commit()
except:
    cnx.rollback()
print(cur.rowcount,"record inserted!")
cnx.close()

2 record inserted!

In [ ]:
# multi insert
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
cur = cnx.cursor()
sql = "insert into Patient(name, id, Dept_id, address, bill) values (%s, %s, %s, %s, %s)"
val = [("Rocky", 25, 103, "Pune", 24000.00),("Tom", 26, 103, "NewYork", 27000.00)]
try:
    cur.executemany(sql,val)
    cnx.commit()
except:
    cnx.rollback()
print(cur.rowcount,"record inserted!")
cnx.close()

In [24]:
#selecting data
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
#creating the cursor object
cur = cnx.cursor()
try:
    cur.execute("select * from Patient")
    #fetching the rows from the cursor object
    result = cur.fetchall()
    #printing the result

    for x in result:
        print(x)
except:
    cnx.rollback()
cnx.close()

('Jockey', 22, 101, 'Pune', 21000.0, '')
('John', 23, 101, 'Mumbai', 25000.0, '')
('Johny', 24, 101, 'Mumbai', 26000.0, '')
('Rocky', 25, 103, 'Pune', 24000.0, '')
('Tom', 26, 103, 'NewYork', 27000.0, '')

In [34]:
# selecting data
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
#creating the cursor object
cur = cnx.cursor()
try:
    cur.execute("select * from patient where name LIKE 'N%' ")
    #fetching the rows from the cursor object
    result = cur.fetchall()
    #printing the result

    for x in result:
        print(x)
except:
    cnx.rollback()
cnx.close()

('Naman', 19, 101, 'Mumbai', 25000.0, '')

In [36]:
# selecting data
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
#creating the cursor object
cur = cnx.cursor()
try:
    cur.execute("select * from patient order by bill ")
    #fetching the rows from the cursor object
    result = cur.fetchall()
    #printing the result

    for x in result:
        print(x)
except:
    cnx.rollback()
cnx.close()

('Jockey', 22, 101, 'Pune', 21000.0, '')
('Rocky', 25, 103, 'Pune', 24000.0, '')
('Naman', 19, 101, 'Mumbai', 25000.0, '')
('John', 23, 101, 'Mumbai', 25000.0, '')
('Johny', 24, 101, 'Mumbai', 26000.0, '')
('Tom', 26, 103, 'NewYork', 27000.0, '')

In [39]:
# updating data
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
#creating the cursor object
cur = cnx.cursor()
try:
    cur.execute("update patient set name='Niti' where id=19 ")
    cnx.commit()
except:
    cnx.rollback()
cnx.close()

In [40]:
# deleting data
import mysql.connector
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='hospital')
#creating the cursor object
cur = cnx.cursor()
try:
    cur.execute("DELETE FROM patient where name='John' ")
    cnx.commit()
except:
    cnx.rollback()
cnx.close()